/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
.container {
  width: 800px;
  margin: 0 auto;
}
.name h2 {
  font-family: 'Diplomata SC', cursive;
  font-size: 2.5rem;
}
header nav {
  display: flex;
  padding: 2rem;
  width: 800px;
  justify-content: space-around;
  align-items: center;
  background: black;
}
header nav a {
  text-decoration: none;
  color: white;
}
header nav a:hover {
  background: white;
  color: black;
}
.name h2 {
  color: black;
  text-align: center;
  font-size: 4rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.top-content {
  margin-top: 2rem;
}
.top-content .about-me {
  display: inline-block;
  background: lightgray;
  vertical-align: top;
  font-size: 2rem;
  text-align: center;
  width: 49.5%;
  height: 23rem;
}
.top-content .about-me h2 {
  font-family: 'Diplomata SC', cursive;
}
.top-content img {
  width: 49.5%;
  height: auto;
}
.middle-content {
  width: 100%;
  margin-top: 3rem;
}
.middle-content h2 {
  background: black;
  color: white;
  font-family: 'Diplomata SC', cursive;
  padding: 3px;
  font-size: 2.5rem;
  margin-top: 2rem;
}
.middle-content .boxes h3 {
  font-family: 'Teko', sans-serif;
  margin-top: 3rem;
  font-size: 2.5rem;
}
.middle-content .boxes ul {
  margin-top: 1rem;
}
.middle-content .boxes ul li {
  list-style-type: square;
  margin-left: 3rem;
  margin-top: 1rem;
}
.Skills-content h2 {
  background: black;
  color: white;
  font-family: 'Diplomata SC', cursive;
  padding: 3px;
  font-size: 2.5rem;
  margin-top: 2rem;
}
.Skills-content ul {
  margin-top: 2rem;
}
